[submodule "deps/fdk-aac"]
	path = deps/fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "deps/mp4v2"]
	path = deps/mp4v2
	url = https://github.com/enzo1982/mp4v2.git
[submodule "deps/args"]
	path = deps/args
	url = https://github.com/Taywee/args.git
